.main
{
    height: 100%;
}

.landing
{
    height: 100vh;
    text-align: center;
}

.inputBox
{
    padding: 8px;
}

#submit
{
    border: none;
    cursor: pointer;
    color: white;
    background-color: #6bc0c3;
    padding: 16px 32px;
    font-size: 18px;
    text-align: center;
}
