*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2
{
    font-size: 32px;
}

h3
{
    font-size: 16px;
    font-style: italic;
}

body
{
    margin: auto;
    height: 100%;
    width: 100%;
}


header
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    background-color: bisque;
    color: #fff;
    flex-wrap: wrap;
}

footer
{
    padding: 16px;
    background-color: bisque;
    position: relative;
    color: black;
}

footer ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
}

label
{
    display: block;
}

/*---------DARK MODE----------*/
.dark
{
    color: white;
    background-color: rgb(32, 31, 44);
    width: 100%;
}

/*---------LIGHT MODE----------*/
.light
{
    background-color: white;
    width: 100%;
}

#modeSwitch
{
    border: none;
    border-radius: 8px;
    padding: 4px;
}